.dashboard-wrapper{
  display: flex;
  flex-direction: row;
}
.menu{
  display: flex;
  flex-direction: column;
  width: 128px;
  align-items: center;
  box-sizing: border-box;
  height: 100vh;
  background-color: #f8f8f8;
}
.menu > a{
  background: none;
  border: none;
  outline: none;
  padding: 12px;
  font-size: 16px;
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: #000;
}
.menu > a:hover{
  background: #ededed;
}
.active{
  color:#d81b60 !important;
  font-weight: bold;
}
.menu > a > p{
  padding: 0;
  margin-top: -5px;
}
.main-section{
  background-color: #ededed;
  flex: 1;
  height: 100vh;
}
.app-bar{
  background-color: #d81b60;
  height: 64px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  color: #fff;
}
.app-bar > h4{
  font-size: 18px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.app-bar > .logout-button{
  border: 2px solid #fff;
  color: #fff;
}
